.exercise {
  padding: 20px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}

.exerciseName {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group {
  padding-bottom: 20px;
}

.personalBest {
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.allArrowsIcon,
.plusIcon {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  color: #222222;
  border: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.plusIcon {
  margin-right: 12px;
}

.headingText {
  padding-bottom: 12px;
}

.listItem {
  list-style-type: none;
}

.logItem {
  padding: 20px;
  background-color: white;
  margin-bottom: 12px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logItemName {
  font-size: 20px;
}

.logItemDate {
  color: #8e8e8e;
  font-size: 16px;    
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats {
  padding-top: 8px;
}

.logItemStat {
  margin-top: 5px;
}