:root {
  --background: #faf4e4;
  --foreground: #19160f;
}

@theme {
  --color-brandBlack: #19160f;
  --color-brandWhite: #faf4e4;
  --color-brandGreen: #9da862;
  --color-brandPink: #f5b8da;
  --color-brandBlue: #b6caeb;
  --color-brandYellow: #f6d868;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f6f6;
    --foreground: #19160f;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #19160f;
  color: #faf4e4;
}

html {
  background-color: #faf4e4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 460px; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
