.homePage {
  padding: 20px;
}

.progress {
  background-color: #cac426;
  color: #222223;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 0;
}

.weekchange {
  margin-bottom: 20px;
}

.heatmap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  width: 100%;
  background-color: #cac426;
  color: #222223;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 0;
}

.square {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.stat {
  font-size: 18px;
}