.homePage {
  padding: 20px;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  background-color: #f6d868;
  color: #19160f;
  padding: 20px;
  border-radius: 30px;
  margin: 20px 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
}

.weekchange {
  margin-bottom: 20px;
}

.stat {
  font-size: 18px;
}