.container {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #19160f;
}

.backLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  padding-right: 12px;
}

.backLink:hover .backText,
.backLink:focus .backText {
  text-decoration: underline;
}

.backIcon {
  fill: #19160f;
  display: flex;
}

.backText {
  font-size: 18px;
  color: #19160f;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-left: 5px;
}