.text {
  font-size: 18px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  gap: 8px;
}

.weekdayLabels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #19160f;
  padding-right: 6px;
}

.monthLabels {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32px);
  gap: 8px;
  font-size: 18px;
  color: #19160f;
  margin-bottom: 4px;
}

.grid {
  display: flex;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.square {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.square.disabled {
  opacity: 0.3;
}

.today {
  outline: 2px solid #faf4e4; 
}