.pencilIcon {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b6caeb;
  color: #19160f;
  fill: #19160f;
  border: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.exerciseName {
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
}

.input {
  padding: 15px 20px;
  background-color: #faf4e4;
  color: #19160f;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  margin-right: 12px;
  border: 2px solid #19160f;
  margin-bottom: 12px;
}

.checkIcon,
.closeIcon {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #19160f;
  fill: #19160f;
  border: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  margin-top: auto;
  margin-bottom: auto;
  
}

.checkIcon {
  background-color: #9da862;
  margin-right: 12px;
}

.closeIcon {
  background-color: #f5b8da;
}

@media (min-width: 460px) {
  .input {
    font-size: 18px;
    margin-bottom: unset;
    width: 100%;
    max-width: 70%;
  }

  .form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}