.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  max-width: 460px;
  transition: transform 0.3s ease-out;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.06);
  color: #19160f;
  z-index: 1;
}

@media (min-width: 460px) {
  .nav {
    right: unset;
    margin-left: -20px;
  }
}

.closed {
  display: none;
}

.navContent {
  display: flex;
  flex-direction: column;
}

.navButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 20px 20px 0 20px;
}

.navIcon,
.closeIcon {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #19160f;
  align-items: center;
  color: #faf4e4;
  border: 2px solid #19160f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.navIcon:hover,
.navIcon:focus,
.closeIcon:hover,
.closeIcon:focus {
  background-color: #b6caeb;
  color: #19160f;
  border-color: #b6caeb;
}

.links {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  padding: 0 20px 20px 20px;
  background-color: #faf4e4;
}

.linkWrapper {
  list-style: none;
  border-radius: 30px;
  background-color: #19160f;
  color: #faf4e4;
  margin-bottom: 12px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
  border: 0;
}

.linkItem {
  width: 100%;
  height: 100%;
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #19160f;
  border-radius: 30px;
}

.linkItem:hover,
.linkItem:focus {
  color: #19160f;
  background-color: #b6caeb;
  border-color: #b6caeb;
}